
/*******************
     RESPONSIVE 
 ******************/

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px) and (max-device-width : 480px) 
{  .presentacion {
  display:flex;
  justify-content: center;     

  .video{
    width: 200;
    height: 200;
    display: flex;
    padding-left: 20px; 
    margin-left:20% ;   
  }   
   .parrafo{
     color: black;
     text-size-adjust: 50%;
     margin-top:10%;
   }
  }
/*redes footer*/
 .pie{
display: flex;
background-color: rgb(248, 211, 253);
width: 100%;
color: white;
padding: 2%;
}
.pie{
max-width: 100%;
}
.columnaUno{

  max-width: 30%;
  margin-left: 5%;

  h2{
    font-size: 20px;
    margin-left: 10px;
    justify-content: flex-start;
    color: black;
  }
  p{
   color: black;
    
  }
  
  }
 }
.Columnaredes{
display: flex;
max-width:30%;
margin-top: 2%;
margin-left: 30%;
padding: 2%;
}

.face{
margin-inline-start: 15%;
margin-top: 1%;
}
.insta{

 margin-top: 2%;

}
.google{
 margin-top: 2%;
}
.wapp{
 margin-top: 2%;
}
.youtube{

 margin-top: 2%;
}

.copy{
 max-width: 30%;
 margin-left: 5%;
 margin-top: 2%;
 color:black;
}

  



 
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
  /* Styles */
}
 
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  /* Styles */
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles */
}
 
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  /* Styles */
}
 
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /* Styles */
}
 
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  /* Styles */
}
 
/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  /* Styles */
}
 
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-device-pixel-ratio:1.5) {
  /* Styles */
}